.vibrate-1 {
  animation: vibrate-1 0.2s linear 20 both;
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
